*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(/Images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 150px;
    height: 10vh;
    display: flex;
}
.leftnav{
    width: 40%;
    margin-left: 10%;
    font-size: 30px;
    display: flex;
    align-items: center;

}
.rightnav{
    width: 36%;
    padding: 1%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10%;
}
a{
    margin-left: 20px;
    /* padding: 0px 10px; */
    color: black ;
}
a:hover{
    color: rgb(130, 226, 229);

}
/* #pages{
    text-decoration: none; 
    color: black;
}
#pages:hover{
    color: skyblue;
    text-decoration: wavy;
} */
#Home{
    /* background-color: white; */
    height: 710px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    /* opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; */
}
.slideshow-container {
    width: 100%;
}

/* Style for individual slides */
.mySlides {
    display: none;
}

/* Style for the previous and next buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

/* Position the previous button to the left */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Add a dot for each slide */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

/* Style the active dot */
.active {
    background-color: #717171;
}
.intro{
    margin-left: 10%;
    font-size: 30px;
}
#discription{
    background-color: white;
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;
    
    

}
.details{
    
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-size: large;
}
#para{
    padding: 20px 0px;
}
#Portfolio{
    background-color:white;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.section1{
    color: #1877F2;
    background-color: rgba(0, 200, 255, 0.2);
    width: 10%;
    border-radius: 30px;
    height: 0px;
    /* position: relative;
    left: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section2{
    /* background-color: chocolate; */
    height: 10vh;
    /* position: relative;
    left: 40%; */
    padding: 20px 0px;
    text-align: center;
}
.product{
    background-color: white;
    width: 100%;
    height: 135vh;
    overflow: hidden;
}
.column{
    width: 25vw;
    height: 50vh;
    float: left;
    margin: 60px 60px;
    transition: transform .2s;
}
.column:hover{
    transform: scale(1.2);
}
#Pricing{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.price{
    /* background-color: aqua; */
    width: 420px;
    height: 60vh;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.head{
    background-color: #1877F2;
    color: white;
    width: 420px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 8px;
}
button{
    color: white;
    background-color: #1877F2;
    width: 20vw;
    height: 5vh;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
}
button:hover{
    background-color: #0056c7;
}
#contact{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cont{
    background-color: white;
    display: flex;
    align-items: center;
}
.address{
    /* background-color: grey; */
    width: 550px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: 7.5%;
    margin-bottom: 10%;
}
.circle{
    border: dotted #1877F2 ;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email{
    /* background-color: aquamarine;  */
    width: 325px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: 7.5%;
    margin-bottom: 10%;
}
.Call{
    /* background-color: yellow; */
    width: 250px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: 7.5%;
    margin-bottom: 10%;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
address {
    font-style: normal;
    margin-bottom: 20px;
}
@media screen and (max-width:1100px) {
    nav{
        background-color: #1877F2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20%;
    }
    .leftnav{
        margin-left: 0%;
        justify-content: center;
        font-size: 22px;

    }
    .rightnav{
        justify-content: center;
        margin-right: 0%;
        padding: 0%;
    }
    a{
        margin-left: 10px;
    }
    #Home{
        text-align: center;
        background-color: none;
        height: 490px;
    }
    .section1{
        width: 120px;
    }
    .price{
        font-size: 13px;
        width: 329px;
    }
    .head{
        font-size: 10px;
    }
    
    

    
    }
    
    
    