*{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: url(Images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header{
    position: sticky;
    top: 0;
    background-image: url(Images/bckgrnd.jpg);
}
nav{
    height: 10vh;
    display: flex;
    border-radius: 20px;
}
.leftnav{
    color: white;
    width: 40%;
    margin-left: 10%;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.rightnav{
    width: 36%;
    padding: 1%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10%;
}
.rightnav i{
    margin-left: 20px;
    color: white;
}
i:hover{
    color: rgb(130, 226, 229);

}

.slideshow-container {
    width: 100%;
}
.mySlides {
    display: none;
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}
.active {
    background-color: #717171;
}
.intro{
    margin-left: 10%;
    font-size: 30px;
}
#discription{
    height: fit-content;
    overflow: hidden;
    margin-top: 0px;
    width: fit-content;
}
.details{
    
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-size: large;
}
#para{
    padding: 20px 0px;
}
#Portfolio{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.section1{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 10%;
    border-radius: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section2{
    height: 10vh;
    padding: 20px 0px;
    text-align: center;
}
.product{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.column{
    width: 25vw;
    height: 50vh;
    float: left;
    margin: 60px 60px;
    transition: transform .2s;
}
.column:hover{
    transform: scale(1.2);
}
#img{
    height: 90%;
    width: 90%;
}
#Pricing{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.price{
    background-color: white;
    width: 420px;
    height: 60vh;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.head{
    background-color: #1877F2;
    color: white;
    width: 420px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 8px;
}
.bdy{
    height: 45vh;
    width: 100%;
    overflow: auto;
}
button{
    color: white;
    background-color: #1877F2;
    width: 20vw;
    height: 5vh;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #0056c7;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cont{
    display: flex;
    align-items: center;
}
.address{
    background-color: white;
    width: 550px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: 7.5%;
    margin-bottom: 10%;
    border-radius: 8px;
}
.circle{
    border: dotted #1877F2 ;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email{
    background-color: white;
    width: 325px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: 7.5%;
    margin-bottom: 10%;
    border-radius: 8px;
}
.Call{
    background-color: white;
    width: 250px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: 7.5%;
    margin-bottom: 10%;
    border-radius: 8px;
}
footer {
    background-color: rgb(215, 242, 255);
    color: black;
    padding: 20px;
    border: 5px solid white;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.rightfooter{
    text-align: right;
}
address {
    font-style: normal;
    margin-bottom: 20px;
}
.copyright{
    text-align:center;
    padding-top:10px;
    opacity:0.99;
    font-size:13px;
    margin-bottom:0;
}
@media screen and (max-width:1100px) {
    nav{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 22%;
    }
    .leftnav{
        margin-left: 0%;
        justify-content: center;
        font-size: 22px;

    }
    .rightnav{
        justify-content: center;
        margin-right: 0%;
        padding: 0%;
    }
    a{
        margin: 20px 20px;
    }
    #Home{
        text-align: center;
        background-color: none;
        height: 490px;
    }
    .details{
        text-align: center;
    }
    .section1{
        width: 120px;
    }
    .product{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .column{
        margin: 0px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .price{
        font-size: 23px;
        width: 80%;
        height: auto;
    }
    .head{
        font-size: 10px;
        width: 100%;
    }
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .address{
        width: 80%;
        height: fit-content;
        margin-left: 0%;
    }
    .email{
        width: 80%;
        height: fit-content;
        margin-left: 0%;
    }
    .Call{
        width: 80%;
        height: fit-content;
        margin-left: 0%;
    }
    #img{
        height: 80%;
        width: 80%;
    }
    .dot{
        display: none;
    }
    .footer-content{
        flex-direction: column;
    }
    .rightfooter{
        text-align: left;
    }
    button{
        margin-bottom: 20px;
    }
    }
    
    
    